<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie App</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Form Add Item</h1>
    <form action="/items/add" method="POST">
        <label>Name</label><br>
        <input type="text" name="name">
        <br>
        <label>Price</label><br>
        <input type="text" name="price">
        <br>
        <label>Type</label><br>
        <input type="integer" name="type">
        <br>
        <label>Kelengkapan Barang</label><br>
        <input type="text" name="kelengkapan_barang">
        <br>
        <label>Keterangan Barang</label><br>
        <input type="text" name="keterangan_barang">
        <br>
        <br>
        <input type="submit" value="submit">
        <% if(error) { %>
        <%= error %>
        <% }%>
    </form>
</body>
</html>