<!DOCTYPE html>
<html>
<head>
<title>Lelang Barang Anda Sekarang Juga</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="styles.css" media="all" />
    <link rel="stylesheet" type="text/css" href="demo.css" media="all" />
</head>
<body>
<div class="container">
			<!-- freshdesignweb top bar -->
			<header>
				<h1><span>Joe Bidding</span>Lelang Barang Anda Sekarang Juga</h1>
            </header>       
     <!-- start header here-->
	<header>
<div id="fdw-pricing-table">
    <div class="plan plan1">
        <div class="header">Enterprise</div>
        <div class="price">$59</div>  
        <div class="monthly">per month</div>      
        <ul>
            <li><b>10GB</b> Disk Space</li>
            <li><b>100GB</b> Monthly Bandwidth</li>
            <li><b>20</b> Email Accounts</li>
			<li><b>Unlimited</b> subdomains</li>			
        </ul>
        <a class="signup" href="http://www.freshdesignweb.com">Sign up</a>         
    </div>
    <div class="plan plan1">
        <div class="header">Enterprise</div>
        <div class="price">$59</div>  
        <div class="monthly">per month</div>      
        <ul>
            <li><b>10GB</b> Disk Space</li>
            <li><b>100GB</b> Monthly Bandwidth</li>
            <li><b>20</b> Email Accounts</li>
			<li><b>Unlimited</b> subdomains</li>			
        </ul>
        <a class="signup" href="http://www.freshdesignweb.com">Sign up</a>         
    </div>
    <div class="plan plan1">
        <div class="header">Enterprise</div>
        <div class="price">$59</div>  
        <div class="monthly">per month</div>      
        <ul>
            <li><b>10GB</b> Disk Space</li>
            <li><b>100GB</b> Monthly Bandwidth</li>
            <li><b>20</b> Email Accounts</li>
			<li><b>Unlimited</b> subdomains</li>			
        </ul>
        <a class="signup" href="http://www.freshdesignweb.com">Sign up</a>         
    </div>
    <div class="plan plan1">
        <div class="header">Enterprise</div>
        <div class="price">$59</div>  
        <div class="monthly">per month</div>      
        <ul>
            <li><b>10GB</b> Disk Space</li>
            <li><b>100GB</b> Monthly Bandwidth</li>
            <li><b>20</b> Email Accounts</li>
			<li><b>Unlimited</b> subdomains</li>			
        </ul>
        <a class="signup" href="http://www.freshdesignweb.com">Sign up</a>         
    </div>
    <div class="plan plan2">
        <div class="header">Professional</div>
        <div class="price">$29</div>
        <div class="monthly">per month</div>  
        <ul>
            <li><b>5GB</b> Disk Space</li>
            <li><b>50GB</b> Monthly Bandwidth</li>
            <li><b>10</b> Email Accounts</li>
			<li><b>Unlimited</b> subdomains</li>			
        </ul>
        <a class="signup" href="http://www.freshdesignweb.com">Sign up</a>            
    </div>
    <div class="plan plan3">
        <div class="header">Standard</div>
        <div class="price">$19</div>
        <div class="monthly">per month</div>
        <ul>
            <li><b>3GB</b> Disk Space</li>
            <li><b>25GB</b> Monthly Bandwidth</li>
            <li><b>5</b> Email Accounts</li>
			<li><b>Unlimited</b> subdomains</li>			
        </ul>
        <a class="signup" href="http://www.freshdesignweb.com">Sign up</a>        
    </div>
    <div class="plan plan4">
        <div class="header">Basic</div>
        <div class="price">$9</div>
        <div class="monthly">per month</div>
        <ul>
            <li><b>1GB</b> Disk Space</li>
            <li><b>10GB</b> Monthly Bandwidth</li>
            <li><b>2</b> Email Accounts</li>
			<li><b>Unlimited</b> subdomains</li>			
        </ul>
        <a class="signup" href="http://www.freshdesignweb.com">Sign up</a>        
    </div> 	
</div>
	</header><!-- end header -->
    
</div>
</body>
</html>
