<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Register</title>
</head>
<style>
    input[type = submit] {
        background-color: blue;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: medium;     
    }

    a.canceling:link, a.canceling:visited, a.canceling:hover, a.canceling:active {
        background-color:red;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: medium
    }
</style>
<body>
    <%- include('./partials/navbar') %>
    <div style="margin-left: 15%; margin-right: 15%;">
        <h1> Register </h1>
        <br>
    <form action="/register" method="POST">
        <div>
            <label for="username">Username</label><br>
            <input type="text" name="username" id="username">
        </div>
        <br>
        <div>
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password">
        </div>
        <br>
        <div>
            <label for="email">Email</label><br>
            <input type="email" name="email" id="email">
        </div>
        <br>
        <div>
            <label for="phone_number">Phone Number</label><br>
            <input type="number" name="phone_number" id="phone_number">
        </div>
        <br>
            <input type="submit" value="register"><a class="canceling" href="/login">Cancel</a>
    </form>
    </div>

</body>
</html>